body {
	font-family: Helvetica Neue, Arial, sans-serif;
	color: #121212;
	margin:20px;
}

.avatar {
	width: 175px;
	border-radius: 10px;
}

.icon {
	width: 22px;
	border-radius: 2px;
	filter: grayscale(100%);
}

.card {
	width:565px;
	margin: 0 auto;
	background: #f0f0f0;
	display: flex;
	padding: 15px;
	box-shadow: 2px 4px 6px rgba(0,0,0,0.5);
	justify-content: space-around;
}

.size-14 {
	font-size: 14px;
}

.size-13 {
	font-size: 13px;
}

.size-12 {
	color: #121212;
	font-size: 12px;
	font-weight: bold;
}

.post-title {
	margin-bottom: -8px;
}

.centered-nav {
    text-align: center;
    margin-top: 25px;
}

.centered-nav a {
    color: #121212;
    font-size: 12px;
    font-weight: bold;
}

.centered-nav a:not(:last-child)::after {
    content: '|';
    margin-left: 5px;
}